<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildInfo</key>
	<string>Xcode8-c2cbf8c0</string>
	<key>BuildTimeStamp</key>
	<string>Tue Oct 10 14:26:07 +08 2017</string>
</dict>
</plist>
